
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>123</h3>
<p>test a</p><p>5555</p><p>3333</p>

<a href="/Home/About">about</a>

<a href="Https://google.com">google</a>

<img src="" alt="Alternate Text" />

